.navbar-brand > img {
    max-width: 140px;
}
a.button-kpr {
    margin: 5px;
    width: 90%;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: #1F3F81 !important;
    border-radius: 4px;
    line-height: 40px;
    height: 40px;
}

a.button-kpr:hover {
	background-color: #1f1d22 !important;
}
.csm-attr {
    height: 88px;
}
.homePage .has-dropdown-content {
    right: 12px;
}
form#form-login div.single-query span.error-help-block {
    color: white !important;
}
form#form-register-store div.single-query span.error-help-block {
    color: white !important;
}

@media only screen and (min-width: 768px) {
    .modal-dialog.modalLogin {
        width: 30%;
    }
}

@media only screen and (max-width: 586px) {
    .call-bri .list-inline>li {
        border-right: none;
    }
}

@media only screen and (max-width: 767px) {
    .modal-dialog.modalLogin {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (max-width: 884px) {
    .call-bri {
        margin-right: 10%;
        margin-left: 10%;
    }
}